html{
    font-size: 16px;
    background-color: rgb(230, 230, 240);
}
body{
    padding:0;
    margin:0;
    font-family:  'Roboto' ,sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: Inter,sans-serif;
    font-weight: 600;
}
h1 {
    text-align:center;
    color:blueviolet
}
h1{font-size: 2.5rem;}
h2{font-size: 2rem;}
h3{font-size: 1.75;}
h4{font-size: 1.5;}
h5{font-size: 1.25;}
h6{font-size: 1rem;}
h2 {
    text-align:center;
    color:blue
}
.location{
    color:red;
    margin-bottom: 16px;
}
img
{
    object-fit: cover;
}

#navbar{
    padding: 8px;
}
#logo{
    height: 30px;
    width:52px;
    
}
#banner{
    object-fit: cover;
    width: 100%;
    margin: 0 auto;
}
#description{
    width: 100%;
    height: 50%;
    padding: 0 12px;
    font-size: 1.25rem;
}
#team{
    width: 100%;
    height: 50%;
    
}
#about{
    display: flex;
    margin: 0 auto;
}
#teamimg{
    border-radius: 5px;
}
#jobs-table{
    width: 100%;
    border:1px solid gray;
    border-collapse: collapse;
}
.jobs-header-row th{
    text-align: left;
    border:1px solid gray;
    padding:8px;
    background-color: aliceblue;
}
.jobs-data-row td{
    border:1px solid gray;
    padding:8px;
    }
    #jobs-table tr:nth-child(odd){
        background-color: rgb(212, 231, 212);
    }
h3{
    margin-bottom: 3px;
    margin-top: 0;
}
.apply{
    float: right;
}
a{
    text-decoration: none;
}
a:hover,a:focus{
    color: darkblue;
}
#application{
   max-width: 800px;
   padding: 0 8px;
   margin: 0 auto;
}
.form-group{
    margin: 16px 0;
}
#application-form label{
    font-weight: 600;

}
#application-form input,select,textarea{
padding: 8px;
margin-top: 4px;
font-size: 1.25rem;
border-radius: 5px;
border: 1px solid gray;

}
.form-group input[type="checkbox"]{
    width: 16px;
    height: 16px;
}
.form-group textarea{
    width: 80%;
    font-family: 'Roboto' ,sans-serif;

}
.form-group input[type="submit"]{
    background-color: rgb(59, 144, 218);
    color: white;
    font-size: 500;
    cursor: pointer;

}
#footer{
    text-align: center;
    padding: 8px;
    background-color: ghostwhite;
    margin-top: 32px;
}
#footer-links{
    list-style: none;
}
#footer-links li{
    display: inline;
    margin: 10px;
}
.copyright{
    color: gray;
    font-size: 0.875rem;
}